*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


.Headersection{
  display: flex;
  justify-content: space-between;
  background-color: rgb(123, 132, 232);
  height: 60px;
  margin: 10px 0px;
  color: white;
}
.title {
  margin-top: 15px;
  font-size:17px;
  
}
.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 0px 10px;
}
.left{
  flex:2;
}
.center:hover{
  cursor: pointer;
  text-decoration: underline;
  
}
.center{
  flex: 4;
  margin-top: 20px;
  margin-left: 100px;
}
.right{
  flex:2;
   margin-top: 20px;
   display: flex;
   margin-right: 0px;
}
.right:hover{
  cursor: pointer;
}
.cart{
  margin-left: 40px;

}
.search{
  flex: 2;
  margin-top: 20px;
  margin-right: 200px;
}
.search input{
  width: 290px;
  height: 25px;
  border-radius: 5px;
 
}
.banner img{
  width: 100%;
}
.gentsimg{
  display: flex;
  width: 100%;
  height: 210px;
  gap: 10px;
  margin-left: 8px;
}
.gentsimg :hover{
  cursor: pointer;
}
.womensimg{
  display: flex;
  width: 100%;
  height: 210px;
  margin-top: 10px;
  gap: 10px;
  margin-left: 8px;
}
.womensimg:hover{
  cursor: pointer;
}
.womenbanner img{
  width: 100%;
  margin-top: 1px;
}
.womenssection h1{
  margin-top: 5px;
}
.footer:hover{
  cursor: pointer;
}
.footer{
  margin-top: 50px;
}
.footer img{
  width: 100%;
}